h1{
  text-align: center;
}

div .form-row{
  margin: 5px;
}

button{
  margin: 20px;
}

div .card{
  margin: 10px;
  margin-top: 30px;
  display: none;
  height: 500px;
}

label{
  font-weight: bold;
}

div .form-group{
  margin: 15px;
}

.jumbotron{
  margin: 10px;
}

div .alert-danger{
  display: none;
}
